*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	/* 세로 스크롤바의 너비와 가로 스크롤바의 높이를 5px로 설정 */
}

*::-webkit-scrollbar-thumb {
	height: 30%;
	/* 세로 스크롤바의 길이 */
	background: #aaa;
	/* 스크롤바의 색상 */
	border-radius: 10px;
}

*::-webkit-scrollbar-track {
	background: #eee;
	/* 스크롤바 뒷 배경 색상 */
}

html, body {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1d1d56;
	color: white;
	height: 3rem;
	padding: 0 1rem;
}
header > h2 {
	display: flex;
	align-items: center;
}

header > h2 > img {
	margin-right: 0.5rem;
	border: 1px solid white;
}

header > a {
	padding: 0.25rem 0.5rem;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

header > a:hover {
	text-decoration: underline;
	color: dodgerblue;
}

section {
	width: 500px;
	height: 400px;
}

section>div {
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
	padding: 1rem;
}

section>div>input {
	width: calc(100% - 1rem);
	border: 1px solid lightgray;
	border-radius: 6px;
	resize: none;
	padding: 0.5rem;
	font-family: monospace;
}

section>div>textarea {
	height: calc(100% - 1rem - 50px);
	width: calc(100% - 1rem);
	border: 1px solid lightgray;
	border-radius: 6px;
	resize: none;
	padding: 0.5rem;
	font-family: monospace;
}

section>div>textarea::placeholder {
	color: lightgray;
}

pre#outputContainer {
	display: flex;
	width: 100%;
	height: 100%;
	border: 1px solid lightgray;
	border-radius: 6px;
	margin: 0;
}

code#output {
	border-radius: 6px;
	font-family: monospace;
	font-size: medium;
	width: 100%;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1d1d56;
	color: white;
	height: 3rem;
	padding: 0 1rem;
}

input[type="button"] {
	border: 1px solid lightgray;
	border-radius: 4px;
	padding: 0.5rem 1rem;
	background-color: white;
	cursor: pointer;
	font-size: large;
	font-weight: 600;
}

input[type="button"]:hover {
	background-color: lavender;
}

input[type="button"]:active {
	background-color: #1d1d56;
	color: white;
}

span#status {
	font-size: small;
	font-weight: bold;
	color: lightgray;
}